<md-content layout="row" flex layout-align="center" layout-fill>
    <div flex="90" class="content" ui-view>
      <md-item ng-repeat="day in main.dailyWeather" class="item"
               ng-class="{ 'selected-item': $index == main.selectedDayIndex}">
        <md-item-content class="user tile md-whiteframe-z1"
                         ng-class="{ 'selected md-whiteframe-z2': $index == main.selectedDayIndex}"
                         layout="column">
          <div layout="row" layout-fill ng-click="main.selectUserIndex($index)" class="folded">
            <div class="md-tile-left">
              <img ng-src="{{ day.weatherIcon }}" class="face">
            </div>
            <div class="md-tile-content" layout="column" layout-align="center start">
              <h3>{{ day.data.first + " " + day.data.last }}</h3>

              <p ng-hide="$index == main.selectedDayIndex">
                <span>some text</span>
              </p>
            </div>
          </div>
          <md-divider layout-fill ng-show="$index == main.selectedDayIndex"></md-divider>
          <div layout="column" layout-fill class="expanded">
            <span>some text</span>
            <br/>
            <span>some text</span>
            <br/>
            <span>some text</span>
            <br/>
            <span>some text</span>
            <br/>
            <span>some text</span>
            <br/>
            <span>some text</span>
            <br/>
            <span>some text</span>
          </div>
        </md-item-content>
        <md-divider class="divider-inset" ng-if="!$last"></md-divider>
      </md-item>
    </div>
  </md-content>
